<body class="fundoFilme">
<div class="container mr-0">
  <div class="row">
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Time Resistência </h2>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="boxResist"><img class="rounded-circle" src="./img/luke.webp">
                        <h3 class="name"> {{ luke.name }} </h3>
                        <p class="title"> Altura:{{ luke.height }}</p>
                         <p class="title"> Peso:{{ luke.mass }}</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="boxResist"><img class="rounded-circle" src="./img/Yoda.webp">
                       <h3 class="name"> {{ yoda.name }} </h3>
                        <p class="title"> Altura:{{ yoda.height }}</p>
                         <p class="title"> Peso:{{ yoda.mass }}</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="boxResist"><img class="rounded-circle" src="./img/han-solo.jpg">
                       <h3 class="name"> {{ solo.name }} </h3>
                        <p class="title"> Altura:{{ solo.height }}</p>
                         <p class="title"> Peso:{{ solo.mass }}</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.</p>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mr-5">
  <div class="row">
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Time Imperio</h2>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="boxImperio"><img class="rounded-circle" src="./img/vader.jpg">
                       <h3 class="name"> {{ vader.name }} </h3>
                        <p class="title"> Altura:{{ vader.height }}</p>
                         <p class="title"> Peso:{{ vader.mass }}</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="boxImperio"><img class="rounded-circle" src="./img/palpatine.jpg">
                       <h3 class="name"> {{ palpatine.name }} </h3>
                        <p class="title"> Altura:{{ palpatine.height }}</p>
                         <p class="title"> Peso:{{ palpatine.mass }}</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="boxImperio"><img class="rounded-circle" src="./img/darth-maul.jpg">
                       <h3 class="name"> {{ maul.name }} </h3>
                        <p class="title"> Altura:{{ maul.height }}</p>
                         <p class="title"> Peso:{{ maul.mass }}</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
    </body>