 <body class="fundoFilme">
  <div id="principalPlaneta" class="container mr-0 mt-0">
 <div id="tatooine" class="card mb-3 " style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./img/Tatooine.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Nome: {{tatooine.name}} </h2>
        <h5 class="card-text">Terreno: {{tatooine.terrain}} </h5>
        <h5 class="card-text">Clima: {{tatooine.climate}} </h5>
        <h5 class="card-text">População: {{tatooine.population}} </h5>
      </div>
    </div>
  </div>
</div>

<div id="yavin" class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-8">
       <div class="card-body">
       <h2 class="card-title">Nome: {{yavin.name}} </h2>
        <h5 class="card-text">Terreno: {{yavin.terrain}} </h5>
        <h5 class="card-text">Clima: {{yavin.climate}} </h5>
        <h5 class="card-text">População: {{yavin.population}} </h5>
      </div>
    </div>
    <div class="col-md-4" style="left: 4.75rem;">
      <img src="./img/Yavin-4.jpg" class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>

<div id="mustafar" class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img  src="./img/Mustafar.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Nome: {{mustafar.name}} </h2>
        <h5 class="card-text">Terreno: {{mustafar.terrain}} </h5>
        <h5 class="card-text">Clima: {{mustafar.climate}} </h5>
        <h5 class="card-text">População: {{mustafar.population}} </h5>
      </div>
    </div>
  </div>
</div>
</div>
</body>